@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";
@import "variables.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  width: 100%;
  min-height: calc(100vh - 170px);
  padding: 1rem;

  // Media Queries (Mobile first approach)
  @media (min-width: ($x-large+1)) {
    max-width: $x-large;
    margin: 0 auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
