@import "../../styles/variables";

.Layout {
  width: 100%;
  margin: 10px;
  // Media Queries (Mobile first approach)
  @media (min-width: ($medium+1)) {
    width: 90%;
    margin: 0 auto;
  }

  // Media Queries (Mobile first approach)
  @media (min-width: ($x-large+1)) {
    max-width: $x-large;
    margin: 0 auto;
  }
}
