@import "../../styles/variables";
.Controls {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
  li:first-child {
    padding-right: 1rem;
  }
  @media (min-width: ($medium+1)) {
    margin-bottom: 00px;
  }
}
