.ListContainer {
  ul {
    padding: 1px;
  }
  .Item {
    overflow: hidden;
    list-style-type: none;
    position: relative;
    padding-bottom: 1px;
    &>button{
      padding: 0;
      cursor: pointer;
    }
    &>button:first-child{
      margin-right: 1px;
    }
    &_HideAllText {
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 15px;
    }
    pre {
      padding: 0 10px 15px 10px;
      border: 1px solid rgb(89, 89, 89);
      white-space: pre-wrap;
      div {
        padding-top: 10px;
        max-width: 600px;
        margin: 0 auto;
        span {
          span {
            padding: 0 !important;
          }
        }
        img {
          position: relative !important;
          width: 100% !important;
          height: auto !important;
          margin: 0 !important;
          min-height: auto !important;
        }
      }
    }
    .Eye {
      cursor: pointer;
      position: absolute;
      right: 0;
      img {
        filter: invert(1);
      }
    }
  }
}
